/* css variables */
:root {
  --primary-Dark-cyan: hsl(185, 75%, 39%);
  --primary-Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --secondary-Dark-grayish-blue: hsl(227, 10%, 46%);
  --secondary-grayblue: hsl(220, 15%, 55%);
  --neutral-Dark-gray: hsl(0, 0%, 59%);
  --ff-body: 'Kumbh Sans', sans-serif;
  --ff-weight-400: 400;
  --ff-weight-700: 700;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  

  background-color: var(--primary-Dark-cyan);
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-position-x: -60%, 155%;
  background-position-y: 290%, -255%;

  font-family: var(--ff-body);
}

.frame {
  background-color: white;
  min-width: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 100px 0px var(--primary-Very-dark-desaturated-blue);
}

.cover {
  background-image: url("images/bg-pattern-card.svg");
  height: 10em;
  position: relative;
  margin-bottom: 5em;
}

img {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid white;
  border-radius: 4rem;
}

h1 {
  font-size: 1em;
  font-weight: 700;
}

.author-info h1 span,
p {
  color: var(--secondary-grayblue);
  font-weight: 400;

}

.rating {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5rem;
  margin-top: 2rem;
  border-top: 1px solid var(--secondary-grayblue);
}

.numbers h1 span {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--neutral-Dark-gray);
  letter-spacing: 1px;
}